* {
    margin: 0;
    padding: 0;
}

#container_page_accueil {
    display: flex;
}
img {
    width: 100%;
    height: 100%;
}
#img_etudiants {
    width: 50px;
    height: 50px;
}
#container_img_eiffel {
    background-image: url(./assets/images/christina-terzidou-vNn-W_3LymU-unsplash.jpg);
    height: 800px;
    background-position: center;
    background-size: cover;
}
.card {
    margin: 10px;
}
#container_carousel {
    width: 600px;
    margin: auto;
    padding: 50px;
}
